.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 2rem 0;
  width: auto;
  height: 20%;
}

.featureImage {
  position: absolute;
  padding-left: 500px;
  height: 310px;
  width: 800px;
}
